<body 
class = "center bg2 max" >

<div id = "main">
    <img src = "https://images.cooltext.com/5736686.png">
    <style>HTML,BODY{cursor: url("https://downloads.totallyfreecursors.com/cursor_files/guitaryellowglitter.ani"), url("https://downloads.totallyfreecursors.com/thumbnails/guitaryellowglitter.gif"), auto;}</style>
    <app-sociallinks></app-sociallinks>
    <app-navbar></app-navbar>

    <h1>Albums!</h1>

    <img src = "https://i.giphy.com/cAfaWIcWr7qus.webp">
    <div id = "albums">
        <img src = "https://s3.amazonaws.com/gather.fandalism.com/800x800%2D1916321%2D%2DFE528753%2D1F2C%2D4F66%2D876B6ECBFD39E2B6%2D%2D0%2D%2D2756884%2D%2DIMG1962.JPG">
        <h1>ShottytheBeam</h1>
        <p>My newest album! self titled, scary. But at this point in my life, i think im really understanding who i am, and i wanted to define that, show the world the things im about and the way i think. I also fully produced this one, like every musical idea is me, every bar is me, every mix is me, every decision is me, and thats what you want from a self titled album right?</p>
        <div class = "listenhere"><a href="https://distrokid.com/hyperfollow/shottythebeam/shottythebeam-2">Presave Here!</a></div>
    </div>

    <div id = "facemove">
    <div id = "albums">
        <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=1391770863/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="https://shottythebeam.bandcamp.com/album/face-the-music">face the music! by ShottytheBeam</a></iframe>
        <h1>FACE THE MUSIC!</h1>
        <p>I made the project in a weird time in my life. It was hot off of the last album, and i just wanted to do the complete opposite of what I was doing on the previous stuff. Its grungey, its gross, its introspective. It follows the story of me grappling with myself, and whether I want to continue doing this whole music thing....</p>
        <div class = "listenhere"><a href="https://distrokid.com/hyperfollow/shottythebeam/face-the-music-5">Listen here!</a></div>

    </div>
    </div>
    

    <div id = "cat">
    <img src = "https://i.giphy.com/10YpWPBU7GAYwM.webp">
    </div>

    <div id = "peggi">
        <img src = "https://i.giphy.com/ku5EcFe4PNGWA.webp">
    </div>
    
    <div id = "partymove">
     <div id = "albums">
        <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=2960900924/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="https://shottythebeam.bandcamp.com/album/party-pleaser">PARTY PLEASER by ShottytheBeam</a></iframe>
        <h1>Party Pleaser</h1>
        <p>This is my best performing album to date! Damn I Fall In Love Too Quick had a lil viral moment on the tiktoks so I was super geeked about that. This album has an amazing narrative that I am super proud of, about love that wasn't meant to be.</p>
        <div class = "listenhere"><a href="https://distrokid.com/hyperfollow/shottythebeam/face-the-music-5">Listen here!</a></div>
    </div>
    </div>
    <div id = "sunmove">
    <div id = "albums">
        <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=3652046825/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="https://shottythebeam.bandcamp.com/album/the-sun-always-shines-sometimes">THE SUN ALWAYS SHINES....sometimes by ShottytheBeam</a></iframe>
        <h1>THE SUN ALWAYS SHINES....sometimes</h1>
        <p>my first album album, this is when i knew i could maybe actually do this thing. when you get the chacne you should go watch the music videos, they are pretty fire.</p>
        <div class = "listenhere"><a href="https://distrokid.com/hyperfollow/shottythebeam/face-the-music-5">Listen here!</a></div>
    </div>
    </div>
    <div id = "jake">
        <img src = "https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExbW1vZHl5OTh6ZzVwMGZiZjAzcTVvMzBjb3UxaHBxNWEzanl2OHc0MiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/cgW5iwX0e37qg/giphy.gif">
    </div>
</div>


</body>


<!-- background="https://frutigeraeroarchive.org/images/wallpapers/windows_stock_photos/windows_stock_photos_5.jpg"  -->