body{
	-webkit-font-smoothing:antialiased;
	font-family: "Comic Sans MS", sans-serif;
	line-height:1.4;
	margin: 0 auto;
	width: auto;
	height: 100%;
    background-color: rgb(255, 243, 164);
}
.center{
	text-align: center;
}
.intro{
	font-size:1em;
}
.max { 
    display: block;
    word-wrap: break-word;
}
a{
	color: #000000;
}

.container {
    width: 1000px;
    height: 100%;
    border: 2px solid black;
    box-sizing: border-box;
}
h1, h2, h3, p, a {
  color: blue;
}

