.image-container {
  text-align: center; /* horizontally center the image */
}

.image-container img {
  width: 80%;       /* adjust size as needed */
  max-width: 800px;
  height: auto;       /* maintain aspect ratio */
  display: inline-block;
  margin: -10px;
}