<div id="home">
    <!-- <h4><a href="#home">Home</a> <span class="line">|</span>
    <a href="#game">Game</a> <span class="line">|</span>
    <a href="#music">Music</a> <span class="line">|</span>
    <a href="#about">About</a> <span class="line">|</span>
    <a href="#contactme">Contact</a></h4> -->

    <a routerLink="/home">Home</a><span class="line">|</span>
    <a routerLink="/music">Music</a><span class="line">|</span>
    <a routerLink="/guestbook">Guestbook</a><span class="line">|</span>
    <a routerLink="/minigame">Mini Game</a><span class="line">|</span>
    <a routerLink="/events">Events</a><span class="line">|</span>
    <a routerLink="/merch">Merch</a><span class="line">|</span>
    <a routerLink="/aboutme">About Me</a><span class="line">|</span>

    
    
</div>