
<body class="center bg2 max">
    <div id="main">
        <style>HTML,BODY{cursor: url("https://downloads.totallyfreecursors.com/cursor_files/guitaryellowglitter.ani"), url("https://downloads.totallyfreecursors.com/thumbnails/guitaryellowglitter.gif"), auto;}</style>
        <app-sociallinks></app-sociallinks>
        <img src = "https://images.cooltext.com/5737420.png">
        <app-navbar></app-navbar>
        <p>
            Yo! My name is Nashat, but my friends call me Shotty! I am a musician, a student, a friend, a guitarist, a coder, a movie maker, a boyfriend (yes im taken, sorry everyone) uhhhh i guess you could say im a lot of things lol. I just like creating stuff that makes me feel something, im always chasing a feeling. I want to also create communinty thru my life. I am an extrovert to the MAX, i love being around people, getting to know their story and all of that jazz. Especially at a time like this in the world, I think we need each other, we need to listen to each other and try to help as we can. I think the world would be a lot better place if we did. But yea enuff preaching, go listen to some music, enjoy life, cuz that shit is short, peace :P 
        </p>
        <div class ="image-container">
        <img src="/shotty_1.JPEG">
        <img src="/shotty_2.jpg">
        <img src="/shotty_3.JPG">
        

        <div id = "shotty4">
        <img src="/shotty_4.jpg">
        </div>

        <div id = "shotty5">
        <img src="/shotty_5.JPG">
        </div>
        <div id = "shotty6">
            <img src="/shotty_6.jpg">
        </div>
        </div>
        
    </div>


</body>