
<body class="center bg2 max">
    <div id="main">
        <app-sociallinks></app-sociallinks>
        <img src = "https://images.cooltext.com/5737419.png">
        <app-navbar></app-navbar>

        <table class = "middle">
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Location</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>Back 2 School (ShottytheBeam album release show)</td>
                <td>Aug 22nd</td>
                <td>Parachigo</td>
                <td><a href = "https://www.tickettailor.com/events/shottythebeam/1814035">Details!</a></td>
            </tr>
        </table>
        
        <!-- I want this on the bottom of the page, but the css is def not right. I just positioned it so it would be in the middle -->
    </div> 
    <div class = "cooltext">
        Image by <a href="https://cooltext.com">Cool Text: Logo and Button Generator</a> - <a href="https://cooltext.com/Edit-Logo?LogoID=4884135041">Create Your Own Logo</a>
    </div>

</body>