
<body class="center bg2 max">
    <div id = "main">
        <p>fuck i aint got no merch lol</p>
        <style>HTML,BODY{cursor: url("https://downloads.totallyfreecursors.com/cursor_files/guitaryellowglitter.ani"), url("https://downloads.totallyfreecursors.com/thumbnails/guitaryellowglitter.gif"), auto;}</style>
        <app-sociallinks></app-sociallinks>
    <app-navbar></app-navbar>
        <img src = "https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbGY4NG83YjJrc3Vxb3VzYmxubGc4bDBuOW91d2oyaWgyZWhhcDhrNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/IgMGW3DwLYLSvpvRGP/giphy.gif">
        <img src = "https://i.giphy.com/cfGmVRsJI6wq6noGxP.webp">
    </div>

   
</body> 