

         <a routerLink="/music"><h1 class = "music">Music</h1> </a>
         <a href="https://shottythebeam.atabook.org/"><h1 class = "guestbook">Guestbook</h1></a>
         <a href = "https://nashatkndsu.github.io/dino-game-main/dino-game-main/index.html"><h1 class = "minigame">Mini Game</h1></a>
         <a routerLink="/events"><h1 class = "events">Events</h1></a>
         <a routerLink="/merch"><h1 class = "merch">Merch</h1></a>
         <a routerLink="/aboutme"><h1 class = "aboutme">About Me</h1></a> 